*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}


ul{
    list-style-type: none;
}

a { 
    text-decoration: none;
    color: rgb(172, 172, 172);
}

a:hover {
    color: white;
}
/* Layout */

/******* PARTE INFERIORE PLAYER MUSICA *********/
.player{
    height: 65px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #343434;
    display: flex;
}

.player .photo-song,
.player .central-player,
.player .volume-option{
    height: 100%;
}

.player .photo-song,
.player .volume-option{
    width: 283px;
    flex-shrink: 0;
}

.player .central-player{
    width: 60%;
}

.photo-song #song-image,
.photo-song #song-name,
.photo-song .heart-save{
    float: left;
    width: calc(100% / 3);
    height: 100%;
}

#song-image img{
    width: 58%;
    margin-left: 19px;
    margin-top: 5px;
}

#song-name{
    padding-top: 15px;
}

#song-name h4{
    font-size: 17px;
}

#song-name span{
    font-size: 10px;
    color: gray;
}

.heart-save .fa-heart{
    font-size: 20px;
    margin-right: 20px;
    padding-left: 14px;
    padding-top: 20px;
    color: gray;
}

.fa-heart:hover{
    color: red;
}

.heart-save .fa-folder{
    font-size: 20px;
    color: gray;
}

.fa-folder:hover {
    color: white;
}


.volume-option > div{
    float: left;
    height: 100%;
}

.volume-option #wifi-screen{
    width: 30%;
    padding-top: 20px;
    padding-left: 10px;
}

#wifi-screen i{
    font-size: 20px;
    color: gray;
}

#wifi-screen i:hover{
    color: white;
}

#wifi-screen .fa-list{
    margin-right: 20px;
}


.volume-option #volume{
    width: 70%;
    padding: 20px;
    position: relative;
}

#volume .fa-volume-up{
    font-size: 20px;
    color: gray;
    margin-right: 10px;
}

#volume .fa-volume-up:hover{
    color: white;
}

#volume #volume-bar{
    border: 3px solid grey;
    width: 120px;
    border-radius: 15px;
    display: inline-block;
    margin-bottom: 5px;
    cursor: pointer;
}


#volume #volume-level{
    position: absolute;
    left: 56px;
    top: 26px;
    border: 3px solid rgb(214, 214, 214);
    border-radius: 15px;
    width: 63px;
}

#volume #volume-level:hover{
    border-color: rgb(47, 233, 0);
    cursor: pointer;
}


.central-player div{
    width: 100%;
    height: 50%;
}

.central-player #central-top{
    display: flex;
    justify-content: center;
    align-items: center;
}

.central-player #central-top .fas{
    font-size: 14px;
    margin-right: 23px;
}

.central-player #central-top .fas:hover{
    font-size: 1.7rem;
}

.central-player #central-top .fa-play{
    font-size: 10px;
    border: 2px solid white;
    border-radius: 50%;
    padding: 5px 5px 5px 6px;
}

.central-player #central-top .fa-play:hover{
    font-size: 1.2rem;
}

.central-player #central-bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.central-player #central-bottom #song-bar,
.central-player #central-bottom #song-time{
    display: inline-block;
    border: 3px solid;
    border-radius: 10px;
}

.central-player #central-bottom #song-bar{
    border-color: gray;
    cursor: pointer;
    width: 70%;
    height: 0;
    margin: 0 10px;
}

.central-player #central-bottom #song-time{
    position: absolute;
    left: 15%;
    border-color: rgb(211 211 211);
    width: 30%;
    height: 0;
}

.central-player #central-bottom #song-time:hover{
    border-color: rgb(47, 233, 0);
    cursor:pointer;
}

/***** OPZIONI PARTE LATERALE ******/
.options-section{
    float: left;
    height: calc(100vh - 65px);
    width: 195px;
    background-color: black;
    display: flex;
    flex-direction: column;
    
}

.options-section .logo,
.options-section .buttons,
.options-section .user{
    width: 100%;
}

.options-section .logo,
.options-section .user{
    height: 12%;
}


.logo img{
    width: 65%;
    padding-left: 10px;
    padding-top: 10px;
}

.options-section .buttons{
    height: 78%;
}

.buttons #choice-options li{
    margin-bottom: 10px;
}

#choice-options li:hover{
    border-left: 2px solid rgb(94, 255, 0);
}

#choice-options a{
    padding-left: 10px;
}

#choice-options a i{
    font-size: 1.2rem;
    color: rgb(172, 172, 172);
}

#choice-options a:hover i{
    color: white;
}

#create-playlist{
    padding-left: 10px;
    margin-bottom: 10px;
}

#create-playlist h2{
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 20px
}


#create-playlist a i{
    color: black;
    background-color: gray;
    padding: 10px;
}

#create-playlist a:hover i{
    background-color: white;
}

#scroll-options{
    padding-left: 10px;
}

#scroll-options li{
    margin-bottom: 10px;
}


.user{
    padding-left: 10px;
}

.user #download-app{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
    margin-right: 10px;
}

#download-app a i {
    border: 1px solid gray;
    color: gray;
    border-radius: 50%;
    padding: 3px;
    font-size: 8px;
}

#download-app a:hover i{
    color: white;
}

.user #user-account{
    margin-top: 5px;
}

.user #user-account a{
    color: white;
    font-size: 16px;
}

.user #user-account a i{
    color: grey;
    font-size: 2.3rem;
}


/********* PARTE CENTRALE SCELTA CANZONI ********/
.choose-songs{
    float: left;
    height: calc(100vh - 65px);
    width: calc(100% - 195px);
    background-color: rgb(16 24 32);
    overflow-y: scroll;
    position: relative;
}

.choose-songs header{
    width: 100%;
    height: 65px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.568);
}

.choose-songs header a{
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    padding: 4px 10px;
}

.choose-songs main{
    width: 100%;
    margin-top: 65px;
    border: 1px dashed red;
    height: 900px;
}

.choose-songs main .mini-nav,
.choose-songs main .recently-played,
.choose-songs main .created-for-user,
.choose-songs main .most-popular{
    border: 1px dashed green;
    width: 100%;
}

.choose-songs main .mini-nav{
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 20px;
}

.choose-songs main .mini-nav a{
    font-size: 14px;
    margin-right: 20px;
    flex-shrink: 0;
}

.choose-songs main .recently-played,
.choose-songs main .created-for-user,
.choose-songs main .most-popular{

    height: calc(90% / 3);
}

.choose-songs main .recently-played .title{
    width: 100%;
    height: 20%;
    border: 1px dashed yellow;
}

.choose-songs main .recently-played .images{
    border: 1px dashed violet;
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.images .image-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: calc(100% / 6);
}

.images .image-box img{
    width: 95%;
    margin-bottom: 10px;
}

/* / Layout */


/*debug*/ 




/* / Debug */ 


/* media-queries */



/* / media queries */ 