*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after{
    content: '';
    clear: both;
    display: table;
}

ul{
    list-style-type: none;
}

a { 
    text-decoration: none;
    color: rgb(172, 172, 172);
}

a:hover {
    color: white;
}
/* Layout */

/******* PARTE INFERIORE PLAYER MUSICA *********/
.player{
    height: 65px;
    width: 100%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    background-color: #343434;
    display: flex;
}

.player .photo-song,
.player .central-player,
.player .volume-option{
    height: 100%;
}

.player .photo-song,
.player .volume-option{
    width: 20%;
}

.player .central-player{
    width: 60%;
}


/***** OPZIONI PARTE LATERALE ******/
.options-section{
    float: left;
    height: calc(100vh - 65px);
    width: 195px;
    background-color: black;
    display: flex;
    flex-direction: column;
    
}

.options-section .logo,
.options-section .buttons,
.options-section .user{
    width: 100%;
}

.options-section .logo,
.options-section .user{
    height: 12%;
}


.logo img{
    width: 65%;
    padding-left: 10px;
    padding-top: 10px;
}

.options-section .buttons{
    height: 78%;
}

.buttons #choice-options li{
    margin-bottom: 10px;
}

#choice-options li:hover{
    border-left: 2px solid rgb(94, 255, 0);
}

#choice-options a{
    font-size: 14px;
    padding-left: 10px;
}

#choice-options a i{
    font-size: 1.2rem;
    color: rgb(172, 172, 172);
}

#choice-options a:hover i{
    color: white;
}

#create-playlist{
    padding-left: 10px;
}

#create-playlist h2{
    font-size: 17px;
    margin-bottom: 10px;
    margin-top: 20px
}

#create-playlist a{
    font-size: 14px;
}

#create-playlist a i{
    color: black;
    background-color: gray;
    padding: 10px;
}

#create-playlist a:hover i{
    background-color: white;
}

/********* PARTE CENTRALE SCELTA CANZONI ********/
.choose-songs{
    float: left;
    height: calc(100vh - 65px);
    width: calc(100% - 195px);
    background-color: rgb(16 24 32);
    overflow-y: scroll;
    position: relative;
}

.choose-songs header{
    width: 100%;
    height: 65px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.568);
}



/* / Layout */


/*debug*/ 




/* / Debug */ 


/* media-queries */



/* / media queries */ 